/*
************* mobil styles ************
*/
@media (max-width: 800px) {
  /* to hoved knapper */
  .twobuttons {
    position: relative;
    margin: 30px auto;
    width: 70%;
    height: auto;
    border-radius: 28px;
    box-shadow: 0 0 10px var(--shadow);
  }

  /* dropdown menu */
  .ddicon {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 8px auto;
    width: 10%;
    height: auto;
    aspect-ratio: 14/11;

    /* drop shadow til svg, da denne følger svg formen og ikke selve "kassen" */
    filter: drop-shadow(0 0 0.75rem var(--shadow));

    /* animation taget fra tema 4: Animation */
    animation-name: pulse_kf;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes pulse_kf {
    0% {
      scale: 1;
    }
    100% {
      scale: 1.1;
    }
  }

  /* figur */
  .figure1 {
    display: block;
    position: absolute;
    width: 25%;
    margin-top: -268px;
    margin-left: 230px;
    z-index: 3;
  }

  /* dropdown menu */
  .dropdown li {
    position: relative;
    display: block;
    margin: 14px auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    font-size: var(--font-h1ogbody-md);

    color: inherit;
    border: dashed var(--third-cl);
    border-radius: 14px;
    box-shadow: 0 0 10px var(--shadow);
    background-color: var(--secondary-cl);
  }

  .dropdown ul {
    display: none;
  }

  .dropdown.active ul {
    display: block;
  }
}

/*
************* desktop styles ************
*/
@media screen and (min-width: 801px) {
  main {
    margin: 1% 10%;
    overflow: hidden;
  }

  .menu a {
    width: 195px;
  }
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .twobuttons {
    position: relative;
    margin: 50px;
    max-width: 20%;
    min-width: 27%;
    height: auto;
    border-radius: 28px;
    box-shadow: 0 0 30px var(--shadow);
  }

  /* figur */
  .figure1 {
    position: absolute;
    width: 7%;
    top: 22%;
    right: 14%;
  }

  /* dropdown menu */
  .ddicon {
    cursor: pointer;
    position: absolute;
    top: 75%;
    right: 5%;
    margin: 8px 0;
    width: 10%;
    height: auto;
    aspect-ratio: 14/11;

    transform: rotate(-90deg);

    /* drop shadow til svg, da denne følger svg formen og ikke selve "kassen" */
    filter: drop-shadow(0 0 0.75rem var(--shadow));

    /* animation taget fra tema 4: Animation */
    animation-name: pulse_kf;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes pulse_kf {
    0% {
      scale: 1;
    }
    100% {
      scale: 1.1;
    }
  }

  /* dropdown menu */
  .dropdown li {
    position: relative;
    display: block;
    margin: 20px 10px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    font-size: var(--font-h2-d);

    color: inherit;
    border: dashed var(--third-cl);
    border-radius: 14px;
    box-shadow: 0 0 10px var(--shadow);
  }

  .dropdown li:hover {
    background-color: var(--secondary-cl);
  }

  .dropdown ul {
    display: none;
  }

  .dropdown.active ul {
    display: block;
  }
}
